body{
    background: rgb(98, 98, 243);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    padding: 20px;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
}
div{
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}